/*------------------------------------*\
  #COLORS
\*------------------------------------*/

    /********  PURPLE  *************/

    $su-purple-180: #100F28;
    $su-purple-140: #201E4F;
    $su-purple-140: #312C77;
    $su-purple-120: #413B9E;
    $su-purple-100: #514AC6; //BASE COLOR
    $su-purple-80: #746ED1;
    $su-purple-60: #9792DD; 
    $su-purple-40: #B9B7E8; 
    $su-purple-20: #DCDBF4;


    /********* YELLOW **************/
    
    $su-yellow-180: #332D00;
    $su-yellow-160: #665A01;
    $su-yellow-140: #998701;
    $su-yellow-140: #998701;
    $su-yellow-120: #CCB402;
    $su-yellow-100: #FFE102; //BASE COLOR
    $su-yellow-80: #FFE735;
    $su-yellow-60: #FFED67;
    $su-yellow-40: #FFF39A;
    $su-yellow-20: #FFF9CC;
    
/*------------------------------------*\
  #FONTS
\*------------------------------------*/

    /********  FONT WEIGHTS  *************/

    $su_wgt_light: 300;
    $su_wgt_regular: 400;
    $su_wgt_bold: 700;





    



