<!--<div v-for="(investment, index) in investments.filter((x) => {return x.state != 'cash out'})">-->
<!--    <div class="sureti-investment-list-box">-->
<!--&lt;!&ndash;    <img class="investment-icon property" src="@/assets/img/icons/property.svg" />&ndash;&gt;-->
<!--    <div class="investment-summary-info">-->
<!--        <h4>Inversión #{{ parseInt(index) + 1  }}</h4>-->
<!--    </div>-->
<!--    <div class="investment-expand-icon" >-->
<!--&lt;!&ndash;        <img class="investment-icon property" src="@/assets/img/icons/expand.svg" />&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;        Bloque detalle&ndash;&gt;-->
<!--    <div class="investment-expand-box" >-->
<!--        <div class="hide">Fotos</div>-->
<!--        &lt;!&ndash;            bloque datos&ndash;&gt;-->
<!--        <div class="sureti-investment-list-stats">-->
<!--            <p class="sureti-investment-list-stat hide">-->
<!--                <span class="stat-label">Monto invertido</span> <span class="stat-value">{{ $filters.formatCurrency(investment.amount) }}</span>-->
<!--            </p>-->
<!--            <p class="sureti-investment-list-stat">-->
<!--                <span class="stat-label">Deuda de capital</span> <span class="stat-value">{{ $filters.formatCurrency(investment.balance) }}</span>-->
<!--            </p>-->
<!--            <p class="sureti-investment-list-stat">-->
<!--                <span class="stat-label">Interses en mora</span> <span class="stat-value">{{ $filters.formatCurrency(investment.total_interests_balance) }}</span>-->
<!--            </p>-->
<!--            <p class="sureti-investment-list-stat">-->
<!--                <span class="stat-label">Interses generados</span> <span class="stat-value">{{ $filters.formatCurrency(investment.total_interests_amount) }}</span>-->
<!--            </p>-->
<!--        </div>-->
<!--        -->
<!--        <p class="sureti-investment-list-ids">Creada: {{ investment.creation_date }}</p>-->
<!--        <p class="sureti-investment-list-ids">{{ investment.investment_id }} &nbsp;/ &nbsp;{{ investment.guarantee_id }}</p>-->
<!--    </div>-->
<!--</div>&lt;!&ndash; BOX &ndash;&gt;-->
<!--</div>&lt;!&ndash; V-FOR &ndash;&gt;-->
<div>
    <div id="sureti-investment-guarantee-single" @click="onSelectedGuarantee(guarantee)" v-for="guarantee in guarantees">
        <guarantee @onSelectedGuarantee="onSelectedGuarantee($event)" :guarantee="guarantee" />
    </div>
    <modal-layout @onDismissModal="onDismissModal" :showModal="showDetail">
        <guarantee :isDetail="showDetail" :guarantee="guaranteeSelected">
            <template  v-slot:movements>
                <div id="sureti-investment-movements-list">
                    <movements :guaranteeId="guaranteeSelected.guarantee_id"></movements>
<!--                    <InvestmentGuarantee :investment="investment"></InvestmentGuarantee>-->
                </div>
            </template>
        </guarantee>
    </modal-layout>
</div>
