<transition>
    <div>
        <transition
                enter-class="opacity-0"
                enter-active-class="ease-out transition-medium"
                enter-to-class="opacity-100"
                leave-class="opacity-100"
                leave-active-class="ease-out transition-medium"
                leave-to-class="opacity-0"
        >
            <div
                    @keydown.esc="closeModalProfile"
                    v-if="isOpen"
                    class="z-10 fixed inset-0 transition-opacity"
            >
                <div
                        @click="closeModalProfile"
                        class="absolute inset-0 bg-black opacity-50"
                        tabindex="0"
                ></div>
            </div>
        </transition>
        <aside
                class="sureti-profile-sidebar transform top-0 right-0 w-64 bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30"
                :class="isOpen ? 'translate-x-0' : 'translate-x-full'"
        >
            <img class="sureti-profile-sidebar-close sureti-close" src="@/assets/img/icons/expand.svg" @click="closeModalProfile" />
                <div class="sureti-profile-sidebar-card">
                    <img class="sureti-profile-sidebar-thumb" src="@/assets/img/icons/user-icon.svg" />
                    <div class="sureti-profile-sidebar-details">
                        <span class="sureti-profile-sidebar-name">{{ user.first_name }} {{ user.middle_name ? user.middle_name + ' ' : '' }}</span> 
                        <span class="sureti-profile-sidebar-lastname">{{ user.last_name }}</span>
                    </div>
                    
                </div>

                <nav class="sureti-profile-sidebar-menu">
                    <ul>
                        <li>
                            <router-link to="/profile" @click="closeModalProfile">
                                Editar perfil
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/help">
                                Ayuda / Contácto
                            </router-link>
                        </li>
                        <li>
                            <a @click="logOut">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </nav>
        </aside>
    </div>

    <!--    </nav>-->
</transition>
