<div>

	<h2 class="sureti-onboarding-h2">Invierte en prestamos con garantia hipotecaria.</h2>
	<div>
		<p>
			Escoge cuanto invertir en cada prestamo.
			Si deseas retirar tu inversion SURETI consigue otro inversionista que te reemplace.
		</p>
	</div>
	<div class="sureti-onboarding-inv-amount">
		<h4>Cuanto estas buscando invertir?</h4>
		<div>
			<input v-model="investment.amount" type="number" placeholder="$60.000.000">
			<button class="sureti-inv-onboarding-button" @click="onCreateInvestment">Empecemos</button>
		</div>
	</div>
	<router-link v-if="isOnBoardingRoute && (user_type !== 'dashboard')" to="/user/on-boarding" class="go-back-link"><img src="@/assets/img/icons/arrow-right.svg" />Volver</router-link>
	
</div>
