<div id="sureti-verify-code">
    <Form @submit="onVerifySchema">
        <h3>{{ title }}</h3>
        <div id="body-verify">
            <p>{{ body }}</p>
        </div>
        <div>
            <input v-model="valueField" ref="fieldValidator" name="activation_code" id="email" type="text"
                   :placeholder="placeHolder"/>
            <span class="text-red-500 text-xs italic">{{ errorMessage }}</span>
        </div>
        <div class="sureti-verify-actions">
            <button type="submit">
                {{ buttonName }}
            </button>
            <button class="inverse" v-if="isGenerateCode" @click.prevent="resendCode">
                Reenviar código
            </button>
            <button id="sureti-request-new-code" v-if="isGenerateCode === 3" class="inverse" 
                    @click.prevent="validateSchema">
                Solicitar un nuevo código
            </button>
        </div>
    </Form>
</div>
