<div id="sureti-verify-code">
	<Form @submit="onSavePassword" :validation-schema="schema" v-slot="{ errors }">
		<h3>Nueva contraseña</h3>
		<div>
			<!--			<label class="block text-gray-700 text-sm font-bold mb-2" for="email">-->
			<!--				Código-->
			<!--			</label>-->
			<Field name="password" id="password" type="text" placeholder="Contraseña"/>
			<span class="text-red-500 text-xs italic">{{ errors.password }}</span>
		</div>
		<div>
			<Field name="confirm_password" id="confirmPassword" type="text" placeholder="Confirmar contraseña"/>
			<span class="text-red-500 text-xs italic">{{ errors.confirm_password }}</span>
		</div>
		<div>
			<button type="submit">
				Cambiar
			</button>
		</div>
	</Form>
<!--	<alert></alert>-->
</div>
