<div id="sureti-onboarding-property" :class="isOnBoarding ? 'onboarding' : 'modal'">
	<div>
		<h2 v-if="isOnBoarding">Préstamos sobre hipoteca</h2>
		<p v-if="isOnBoarding">Nuestro sistema de préstamos conecta a personas con propiedad que requieren fondos, con inversionistas que buscan rendimiento de su capital.</p>
		<p v-if="isOnBoarding">Nosotros nos encargamos de gestionar los procesos legales y hacer seguimiento a los pagos de capital e intereses por la duración del préstamo, pero no somos los prestadores. No podemos garantizar que todos los préstamos se lleven a cabo, depende de encontrar inversionistas interesados en invertir según las condiciones pactadas y las condiciones de la garantía soportando el préstamo.</p>
        
		<div :class="isOnBoarding ? 'row' : ''">
			<h2 :class="isOnBoarding ? '' : 'sureti-modal-title'">Cuéntanos acerca de tu propiedad:</h2>
			<div :class="isOnBoarding ? 'column' : ''">
				<label>
					Avaluo Catastral ({{ $filters.formatCurrency(valueProperty)}})
					<input type="number"
                           id="valueProperty"
                           v-model="valueProperty">
				</label>
			</div>
			<div :class="isOnBoarding ? 'column' : ''">
				<label for="isFreeDebt">
					¿Está la propiedad libre de deudas y procesos legales?<br>
					<input v-model="isFreeDebt" type="checkbox" id="isFreeDebt">
				</label>
			</div>
		</div>

		<button @click="recordGuarantee">{{isOnBoarding ? 'Conoce tu cupo estimado' : 'Siguiente'}}</button>
	</div>
	<router-link v-if="isOnBoarding && (user_type !== 'dashboard')" to="/user/on-boarding" class="go-back-link"><img src="@/assets/img/icons/arrow-right.svg" />Volver</router-link>
</div>
