<div>
    <h2>Datos generales</h2>
    <ul>
        <li class="third">
            <label>
                Nombre:
            </label>
            <input v-model="publicProfile.first_name" type="text" placeholder="Nombre">
        </li>
        <li class="third">
            <label>
                Segundo nombre:
            </label>
            <input v-model="publicProfile.middle_name" type="text" placeholder="Segundo nombre">
        </li>
        <li class="third">
            <label>
                Apellidos:
            </label>
            <input v-model="publicProfile.last_name" type="text" placeholder="Apellidos">
        </li>
        <li class="third">
            <label>
                Género:
            </label>
            <select v-model="publicProfile.gender" name="gender" id="user_gender">
                <option disabled :value="undefined">Seleccionar Género</option>
                <option value="F">F</option>
                <option value="M">M</option>
                <option value="Otro">Otro</option>
            </select>
        </li>
        <li class="third">
            <label>
                Tipo de documento:
            </label>
            <select v-model="publicProfile.identification_type" name="gender" id="identification_type">
                <option disabled :value="undefined">Tipo de documento</option>
                <option value="cedula_ciudadania">Cédula de ciudadanía</option>
                <option value="cedula_extranjeria">Cédula de extranjería</option>
                <option value="pasaporte">Pasaporte</option>
                <option value="nit">NIT</option>
            </select>
        </li>
        <li class="third">
            <label>
                Número de documento:
            </label>
            <input v-model="publicProfile.identification_number" type="text" placeholder="Número de coumento">
        </li>
        <li class="third">
            <label>
                Fecha de expedición:
            </label>
            <input v-model="publicProfile.identification_expedition_date" type="date" placeholder="Fecha de expedición">
        </li>
        <li class="third">
            <label>
                Lugar de expedición:
            </label>
            <input v-model="publicProfile.identification_expedition_place" type="text" placeholder="Lugar de expedición">
        </li>
        <li class="submit">
            <br>
            <button :disabled="!verifySchema" @click="onUpdatePublicProfile">Enviar / Guardar</button>
        </li>
    </ul>
    

    <div class="sureti-profile-id-photos">
        <h3>Documentos:</h3>
        <div v-for="file in files" class="sureti-profile-id-photos-section">
            <h4>{{ file.text }}</h4>
            <label :for="file.doc_type">
                <input @change="onSelectDocument(file, $event.target.files)" :id="file.doc_type" type="file">
            </label>
            <p>Documentos en el sistema:</p>
            <div v-for="document in documents.filter((d) => {return d.doc_type == file.doc_type})">
                <document-user :document="document"></document-user>
            </div>
        </div>
        <!--
        <h4>Cédula (vista trasera):</h4>
        <div v-for="document in documents.filter((d) => {return d.doc_type == 'CEDULA VISTA TRASERA'})">
            <document-user :document="document"></document-user>
        </div>-->
        <button :disabled="!verifyFilesSchema" @click="uploadDocumentFiles">Enviar / Guardar</button>
    </div>
</div>