<div>
    <div class="sureti-sensitive-update-code" v-if="isToUpdate">
        <h2>Ingrese el código</h2>
        <p>Hemos enviado un código de verificación a su email y/o whatsapp. Por favor ingrese el código aquí para validar los cambios.</p>
        <div>
            <input v-model="sensitiveData.temporal_code" type="text" placeholder="Código temporal">
        </div>
        <button  @click="updateSensitiveInformation">Actualizar informacion</button>&nbsp;
        <button  @click="getCode">Reenviar codigo</button>
    </div>
    <div v-else>
        <h2>Datos de acceso</h2>
        <ul>
            <li class="third">
                <label>
                    Número de celular:
                </label>
                <input v-model="sensitiveData.cell_phone" type="text" placeholder="Número de celular">
            </li>
            <li class="third">
                <label>
                    Email:
                </label>
                <input v-model="sensitiveData.email" type="text" placeholder="Email">
            </li>
            <li class="third">
                <label>
                    Contraseña:
                </label>
                <input v-model="sensitiveData.password" type="text" placeholder="••••••••">
            </li>
            <li class="third">
                <label for="mfa_email">
                    Verificación por email
                    <input v-model="sensitiveData.mfa_email" id="mfa_email" type="checkbox" >
                </label>
                <label for="mfa_phone">
                    Verificación por teléfono
                    <input v-model="sensitiveData.mfa_phone" id="mfa_phone" type="checkbox" >
                </label>
            </li>
            <li class="submit">
                <br>
                <button @click="getCode">Enviar / Guardar</button>
            </li>
        </ul>
        
    </div>
</div>